.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e5e7eb; /* bg-gray-200 */
  padding: 1rem;
}

.login-title {
  font-size: 2.5rem; /* text-4xl */
  font-weight: bold;
  color: #2563eb; /* text-blue-600 */
  margin-bottom: 0.5rem;
}

.light-text {
  font-weight: 300; /* font-light */
}

.login-subtitle {
  color: #4b5563; /* text-gray-600 */
  margin-bottom: 2rem;
  font-size: 1.125rem; /* text-lg */
}

.profiles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

